@model IEnumerable<IngressBeat.Models.Portal>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PortalName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PLat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PLong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Faction)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PortalName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PLat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PLong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Owner.FactionName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
